body {
    background-color: #D9D9D9;
}
.navbar {
    background-color: #060b3b;
}
.navbar li a {
    color: white;
    text-decoration: none;
}
li {
    list-style-type: none;
}

.btn {
    background-color: #060b3b;
    color: white;
}

.btn:hover {
    background-color: white;
    border-color: #060b3b;
    color: #060b3b;
}

#tabela_horarios {
    text-align: center;
    border: #000000 2px solid;
    background-color: white;
}
#tabela_horarios {
    
}
