body {
    background-color: #f3f3f3;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
    background-color: rgb(163, 193, 227);
}
.navbar li a {
    font-weight: bold;
    color: #004587;
    text-decoration: none;
}
li {
    list-style-type: none;
}

.btn {
    background-color: white;
    border-color: #060b3b;
}

.btn:hover {
    background-color: #060b3b;
    color: white;
}