body {
    background-color: #f3f3f3;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
    background-color: rgb(163, 193, 227);
}
.navbar li a {
    font-weight: bold;
    color: #004587;
    text-decoration: none;
}
li {
    list-style-type: none;
}

.btn {
    background-color: #004587;
    border: #004587 2px solid;
    color: white;
}

.btn:hover {
    background-color: #f3f3f3;
    border: #004587 2px solid;
    color: #004587;
}