body {
    background-image: none;
}

.logo {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(50%);


}

.botao_entrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background-color:#002a51;
    color: white;
}

.btn:hover {
    background-color:rgba(0, 0, 93, 0.675);
    color: white;
}

body {
  width: 100%;
  color: white;
  font-family: "Poppins", sans-serif;
}
.bg {
  background-image: linear-gradient(#5b9eea, black);
  background-size: cover;
  background-repeat: no-repeat;
}


.logo {
  line-height: 0.5;
}
.inputs {
  padding: 5%;
      transform: translateY(40%);
}


#campo_txt_login {
  text-align: left;
  margin: auto;
}